body {
  background-color: #f8f9fa; /* Gri deschis pentru backgroundul general */
}

.container {
  background-color: #ffff00; /* Galben pentru backgroundul containerului */
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.list-group-item {
  background-color: #28a745; /* Verde pentru elementele listei */
  color: white;
}
